'use strict';

var users = [
  {
    name: 'philip',
    services: [
      {service: 'lastfm', username: 'fryfm'},
      {service: 'steam', username: '76561198036964321'}
    ]
  },
  {
    name: 'bender',
    services: [
      {service: 'github', username: 'OnesAndZeros'},
      {service: 'lastfm', username: 'BenderIsGreat'},
      {service: 'steam', username: '76561198040534321'}
    ]
  }
];

module.exports = {
  users: users,
  title: 'What Are They Doing?',
  port: 3000,
  requestIntervals: {
    github: 60000,
    lastfm: 10000,
    steam: 10000
  },
  githubAccessToken: '0000000000000000000000000000000000000000',
  lastfmApiKey: '00000000000000000000000000000000',
  lastfmApiSecret: '00000000000000000000000000000000',
  steamApiKey: '00000000000000000000000000000000'
};
