{% capture repoUrl %}https://github.com/{{repo}}{% endcapture %}

<img class="avatar" src="{{avatar}}" alt="" />
<b>
  <a href="https://github.com/{{user}}">{{user}}</a>

  {% case eventType %}
  {% when 'CommitCommentEvent' %}
    made a <a href="{{event.comment.html_url}}">comment</a> on commit
    <a href="{{repoUrl}}/commit/{{event.comment.commit_id}}">
      {{event.comment.commit_id | truncate: 7}}
    </a>
    on

  {% when 'CreateEvent' %}
    created {{event.ref_type}}
    {% case event.ref_type %}
    {% when 'repository' %}
    {% when 'branch' or 'tag' %}
      <a href="{{repoUrl}}/tree/{{event.ref}}">{{event.ref}}</a> on
    {% else %}
      {{event.ref}} on
    {% endcase %}

  {% when 'DeleteEvent' %}
    deleted {{event.ref_type}} {{event.ref}} on

  {% when 'ForkEvent' %}
    forked
    <a href="{{event.forkee.html_url}}">{{event.forkee.full_name}}</a>
    from

  {% when 'GollumEvent' %}
    edited {{event.pages.length}} <a href="{{repoUrl}}/wiki">wiki</a>
    {{event.pages.length | pluralize: 'page', 'pages'}} on

  {% when 'IssueCommentEvent' %}
    made a <a href="{{event.comment.html_url}}">comment</a> on
    {% if event.issue.pull_request %}
      pull request
    {% else %}
      issue
    {% endif %}
    <a href="{{event.issue.html_url}}">#{{event.issue.number}}</a> on

  {% when 'IssuesEvent' %}
    {{event.action}} issue
    <a href="{{event.issue.html_url}}">#{{event.issue.number}}</a>
    on

  {% when 'MemberEvent' %}
    added
    <img class="small-avatar" src="{{event.member.avatar_url}}" alt="" />
    <a href="{{event.member.html_url}}">{{event.member.login}}</a>
    as a collaborator on

  {% when 'PublicEvent' %}
    open sourced

  {% when 'PullRequestEvent' %}
    {{event.action}} pull request
    <a href="{{event.pull_request.html_url}}">#{{event.pull_request.number}}</a>
    on

  {% when 'PullRequestReviewCommentEvent' %}
    made a
    <a href="{{event.comment.html_url}}">comment</a>
    on the diff of pull request
    <a href="{{event.pull_request.html_url}}">#{{event.pull_request.number}}</a>
    on

  {% when 'PushEvent' %}
    pushed
    {% if event.size == 1 %}
      <a href="{{repoUrl}}/commit/{{event.before}}">{{event.size}} commit</a>
    {% else %}
      <a href="{{repoUrl}}/compare/{{event.before}}...{{event.head}}">
        {{event.size}} commits
      </a>
    {% endif %}
    to

  {% when 'WatchEvent' %}
    starred

  {% else %}
    did a {{eventType}} on
  {% endcase %}

  <a href="{{repoUrl}}">{{repo}}</a>
  {{timeAgo}}
</b>

